* {
	border: 1px solid black;
}

body {
	background: #d2d2d0;

	font-family: 'Hammersmith One', sans-serif;
}

.main {
	width: 300px;
	height: 150px;
	margin: 0 auto;
	padding: 1% 2% 7% 2%;

	color: #e9e9e7;
}


h2, h1 {
	text-align: center;
}

h1 {
	margin-top: 5%;
	margin-bottom: 1%; /* Raises the button WHY?*/

	font-size: 2.8em;
}

.metric {
	margin-left: 1.5%;

	font-size: 0.5em;
}

.button {
	float: right;
}

/* Button rotation*/
button.expand {
	border: none;
	background: none;
}

.button .button-style {
	padding: 0 7px 3px 7px;

	cursor:pointer;

	border-radius: 20%;
	background: #e9e9e7;

	font-size: 2em;
	font-weight: bold;
}

button:focus {
	outline: none;
}

.rotate {
	transition: 1s;
	transform: rotate(50deg);
}

/* Button rotation end */

.add-info {
	display:none;

	width: 300px;
	height: 150px;
	margin: 0 auto;
	padding: 2%;

	text-align:center;

	color: #e9e9e7;
	background: #8b441b;
}

/**
	* The colours are ordere as follows..
	*
	* Colour of the main 'data view' section (.x-widget)
	* Colour of the 'add info' toggled section (.add-x-info)
	*
*/

.paper-widget {
	background: #D27036;
}

.add-paper-info {
	background: #8b441b;
}

.compost-widget {
	background: #3f7300;
}

.add-compost-info {
	background: #294705;
}

.glass-widget {
	background: #12a8ac;
}

.add-glass-info {
	background: #0f787a;
}

.metal-widget {
	background: #536a5e;
}

.add-metal-info {
	background: #3d4e45;
}

.plastic-widget {
	background: #6e312d;
}

.add-plastic-info {
	background: #542623;
}

.general-widget {
	background: #112369;
}

.add-general-info {
	background: #0a1749;
}

/**
	* Targetting the '+' character located in each button
*/

.paper > .button-style {
	color: #D27036;
}
.compost > .button-style {
	color: #3f7300;
}
.glass > .button-style {
	color: #12a8ac;
}
.metal > .button-style {
	color: #536a5e;
}
.plastic > .button-style {
	color: #6e312d;
}
.general > .button-style {
	color: #112369;
}
